In [1]:
import pandas as pd
import sqlalchemy as toolkit

In [2]:
# Here i am using MySQL so that is why pymysql and sqlalchemy is being used here :
engine=toolkit.create_engine("mysql+pymysql://root:0047@localhost:3306/application")

In [3]:
# In my sql schema i have 2 tables - customers and orders
# (1) Customer Table
CustomerTable = pd.read_sql_table("customers",engine)
CustomerTable

   ID    Name Phone_Number
0   1  Donald   7326784567
1   2    Bill   6573489999
2   3    Modi   4567895646

In [4]:
# (2) Order Table
OrderTable = pd.read_sql_table("orders",engine)
OrderTable

   ID          Name  Amout  Customer_ID
0   1      Yoga Mat     20            2
1   2  Google Pixel    950            1
2   3  Fossil Warch    120            3

In [5]:
# To apply query from pandas to swl table then
query='''
SELECT customers.Name,customers.Phone_Number,orders.Name,orders.Amout
FROM customers INNER JOIN orders
ON customers.ID=orders.Customer_ID
'''
QueryResult=pd.read_sql_query(query,engine)
QueryResult

     Name Phone_Number          Name  Amout
0    Bill   6573489999      Yoga Mat     20
1  Donald   7326784567  Google Pixel    950
2    Modi   4567895646  Fossil Warch    120

In [14]:
# Now we will append an csv file data to out SQL Table
df=pd.read_csv("Customer_Data(Sheet1)(Sheet1).csv",sep=";")
df

              Name  Phone_Number
0     Rafeal Nadal    1234567892
1  Maria Sharapova    9876543225
2   Vladimir Putin    3921631813
3      Kim Un Jong    6687264723
4       Jeff Bezos    4234242344
5     Rahul gandhi    4324234235

In [17]:
# Now lets add data of excel to sql - 
df.to_sql(
    name="customers",
    con=engine,
    index=False,
    if_exists='append'
)

IntegrityError: (pymysql.err.IntegrityError) (1062, "Duplicate entry '1234567892' for key 'customers.Phone_Number_UNIQUE'")
[SQL: INSERT INTO customers (`Name`, `Phone_Number`) VALUES (%(Name)s, %(Phone_Number)s)]
[parameters: [{'Name': 'Rafeal Nadal', 'Phone_Number': 1234567892}, {'Name': 'Maria Sharapova', 'Phone_Number': 9876543225}, {'Name': 'Vladimir Putin', 'Phone_Number': 3921631813}, {'Name': 'Kim Un Jong', 'Phone_Number': 6687264723}, {'Name': 'Jeff Bezos', 'Phone_Number': 4234242344}, {'Name': 'Rahul gandhi', 'Phone_Number': 4324234235}]]
(Background on this error at: https://sqlalche.me/e/20/gkpj)

In [18]:
# Now Lets check the customer table
UpdatedCustomerTable = pd.read_sql_table("customers",engine)
UpdatedCustomerTable

   ID             Name Phone_Number
0   1           Donald   7326784567
1   2             Bill   6573489999
2   3             Modi   4567895646
3   4     Rafeal Nadal   1234567892
4   5  Maria Sharapova   9876543225
5   6   Vladimir Putin   3921631813
6   7      Kim Un Jong   6687264723
7   8       Jeff Bezos   4234242344
8   9     Rahul gandhi   4324234235